body {
    margin: 0;
}

nav {
    background-color: #360836;
}

ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    height: 3.2em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #FF5E8B;
    text-decoration: none;
}

.hero {
    overflow: auto;
    background-image: url(images/cover.png);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    font-family: serif;
    font-size: 2em;
    text-align: center;
    color: white;
}

.container h1 {
    padding: 0;
    font-size: 3.5em;
    font-style: italic;
}

.container .dots {
    font-size: 5rem;
    margin: 0;
}

.box {
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    background-color: #FF0048;
}

.arrow-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FF0048;
}

.photos img {
    width: 25%;
    float: left;
}

footer {
    font-family: monospace;
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    background-color: #FF0048;
}

.folks h2 {
    color: #FF0048;
    text-align: center;
    margin-top: 3rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

figure {
    margin: 1.5rem 0;
    text-align: center;
}

figcaption {
    color: gray;
    margin-top: 1rem;
}

figcaption span {
    display: block;
    color: #FF0048;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

#contactus{
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0.5rem 3rem;
    display: flex;
    margin: 3rem auto;
}
.footer-container {
    overflow: auto;
    background-image: url(images/Cover_2.jpg);
    background-size: cover;
    color: white;
}

.footer-content {
    max-width: 1000px;
    margin: 3rem auto;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-content h2 {
    font-size: 2.5rem;
}
.footer-content section{
    margin: 0 3rem;
}

.footer-content .dots {
    font-size: 4rem;
    display: flex;
    margin: auto;
}

.footer-container a {
    background-color: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    overflow: auto;
    display: flex;
    margin: 0 auto 4rem auto;
    padding: 0.5rem 3rem;
    max-width: 150px;
    justify-content: center;
}

.footer-container a:hover {
    background-color: #FF5E8B;
    color: #fff;
    transition: ease-in 0.3s;
}

@media (max-width: 800px) {
    .footer-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-content .dots {
        display: none;
    }
}

@media (max-width: 900px) {
    .photos img {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .photos img {
        width: 100%;
    }
}