nav {
    background-color: #360836;
}

ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    height: 3.2em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #FF5E8B;
    text-decoration: none;
}

.hero {
    overflow: auto;
    background-image: url(images/cover.png);
    background-size: cover;
}

.contain {
    max-width: 600px;
    margin: 0 auto;
    font-family: serif;
    font-size: 2em;
    text-align: center;
    color: white;
}

.contain h1 {
    padding: 0;
    font-size: 3.5em;
    font-style: italic;
}

.contain .dots {
    font-size: 5rem;
    margin: 0;
}

.box {
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    background-color: #FF0048;
}

.arrow-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FF0048;
}

.photos img {
    width: 25%;
    float: left;
}

.folks {
    margin-top: 2em;
}

footer {
    font-family: monospace;
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    background-color: #FF0048;
}

figure img {
    width: 100%;
    padding: 0;
}

.row>* {
    padding: 0;
}